table {
  width: 100%;
  border-spacing: 15px;
}

table, th, td {
  border: none;
  border-radius: 10px;
}

th, td {
  padding-top: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.product {
  padding-top: 10px;
  width: auto;
  height: 150px;
}
  
@media only screen and (max-width: 600px) {  
  tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  td {
    flex: 50%;    
    margin-bottom: 20px;
  }
}